<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/html">
<head>

    <head th:include="fragments/fragments.html :: head">
        <title id="pageTitle">Amigo|Dettagli Task</title>
    </head>
</head>
<body>
<div th:insert="fragments/fragments.html :: header"></div>

<h1 class="ui header" align="center"> Dettagli task : </h1>

<div class="ui form text container">

    <div class="ui celled list">

        <div class="item" style="padding-top: 3%;padding-bottom: 2.5%;">
            <i class="file alternate icon"></i>
            <div class="content">
                <div class="header">Nome task</div>
                <div th:text="${task.nome}"></div>
            </div>
        </div>

        <div class="item" style="padding-top: 3%;padding-bottom: 2.5%;">
            <i class="calendar alternate outline icon"></i>
            <div class="content">
                <div class="header">Data scadenza</div>
                <div th:text="${task.dataScadenza}"></div>
            </div>
        </div>

        <div class="item" style="padding-top: 3%;padding-bottom: 2.5%;">
            <i class="address card icon"></i>
            <div class="content">
                <div class="header">Assegnatario task</div>
                <div th:text="${task.persona.getNome()} +' '+ ${task.persona.getCognome()}"></div>
            </div>
        </div>

        <div class="item" style="padding-top: 3%;padding-bottom: 2.5%;word-wrap: break-word;">
            <i class="clipboard list icon"></i>
            <div class="content" style="word-wrap: break-word;word-break: break-word;">
                <div class="header">Descrizione</div>
                <div th:text="${task.descrizione}" style="word-wrap: break-word;"></div>
            </div>
        </div>

        <div class="item" style="padding-top: 3%;padding-bottom: 2.5%;">
            <i class="eye icon"></i>
            <div class="content">
                <div class="header">Stato</div>
                <div th:text="${task.stato}"></div>
            </div>
        </div>

        <div class="item"  style="padding-top: 3%;padding-bottom: 2.5%;">
            <i class="file icon"></i>
            <div class="content">
                <div class="header">Documento</div>
                <div th:if="${task.getDocumento()}!=null" style="padding-top: 3%;padding-bottom: 2.5%;">
                    <a target="_blank" th:text="${task.documento.getNome()}"
                       th:href="@{'/task/{idTask}/attachment' ( idTask=${task.id})}">
                    </a>
                </div>
                <div th:if="${task.getDocumento()}==null" style="padding-top: 3%;padding-bottom: 2.5%;">
                    <span>Nessun documento presente</span>
                </div>

                <div th:if="${( ( task.stato.equals('incompleto') )==true ) or ( ( task.stato.equals('respinto') )==true )}"
                     class="center aligned">

                    <form th:action="@{'/taskPersonali/task_detail/{idTask}/uploadDocumento'(idTask=${task.id})}"
                          method="post" enctype="multipart/form-data">

                 <span>
                    <label class="ui icon button" for="file-upload">
                        <i class="file icon"></i>
                        Carica file
                    </label>
                    <input id="file-upload" name="file" required style="display:none" type="file">
                 </span>

                        <input class="ui teal button" name="submit" type="submit" value="Invia"/>
                    </form>

                </div>
            </div>
        </div>

        <div class="field item" th:if="${( ( task.stato.equals('approvato') )==false ) and ( ( task.stato.equals('in valutazione') )==false )}" style="padding-top: 3%;padding-bottom: 2.5%;">
            <table class="ui fixed table" style="border: 1px rgba(34, 36, 38, 0.15);">
                    <tr class="center aligned">
                        <td>
                        <a class="ui positive button center aligned"
                        th:href="@{'/taskPersonali/task_detail/{idTask}/completa' (idTask=${task.id}) }"
                        > Completa</a>
                        </td>
                    </tr>
            </table>
        </div>
    </div>
</div>

<div class="ui message green text container" th:if="${flagAzione==4}">
    <i class="close icon"></i>
    <p>Hai completato il Task </p>
</div>

<div class="ui message success text container" th:if="${flagAggiunta==1}">
    <i class="close icon"></i>
    <p>Documento <span th:text="${documentoNome}"></span> caricato con successo!</span></p>
</div>
<div class="ui message negative text container" th:if="${flagAggiunta==0}">
    <i class="close icon"></i>
    <p><span>Errore caricamento documento</span></p>
</div>

<script type="text/javascript" th:src="@{/dettagliTaskPersonali.js}"></script>

</body>
</html>