
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/html">
<head>

    <head th:include="/fragments/fragments.html :: head">
        <title id="pageTitle">Amigo|Dettagli Task</title>
    </head>
</head>
<body>
<div th:insert="fragments/fragments.html :: header"></div>

<h1 class="ui header" align="center"> Dettagli task : </h1>
<div class="ui main text container">
    <table class="ui celled table striped">
        <thead>
        <tr class="center aligned">
            <th>Nome task</th>
            <th>Data scadenza</th>
            <th>Stato</th>
        </tr>
        </thead>
        <tbody>
        <th:block>
            <tr class="center aligned">
                <td th:text="${task.nome}"></td>
                <td th:text="${task.dataScadenza}"></td>
                <td th:text="${task.stato}"></td>
            </tr>

            <tr class="center aligned">
                <th colspan="4" th:text="'Assegnatario'+' '+'task'"></th>
            </tr>

            <tr class="center aligned">
                <td colspan="4" th:text="${task.persona.getNome()} +' '+ ${task.persona.getCognome()}"></td>
            </tr>
            <tr class="center aligned">
                <th colspan="4" th:text="Descrizione"></th>
            </tr>
            <tr class="center aligned">
                <td colspan="4" th:text="${task.descrizione}"></td>
            </tr>
            <tr class="center aligned">
                <th colspan="4" th:text="'Assegnatario'+' '+'task'"></th>
            </tr>
            <tr class="center aligned" >
                <td colspan="4" th:if="${task.getDocumento()}!=null">
                    <a target="_blank" th:text="${task.documento.getNome()}"
                       th:href="@{'/documento/{idDocumento}' ( idDocumento=${task.documento.getId()})}"></a>
                </td>
                <td colspan="4" th:if="${task.getDocumento()}==null">
                    <span>Nessun documento presente</span>

                </td>
            </tr>





            <tr th:if="${isResponsabile==true}" class="center aligned">
                <td colspan="1">
                    <a class="ui green button"
                       th:if="${( ( task.stato.equals('approvato') )==false )}"
                       th:href="@{'/gruppi/{idSupergruppo}/tasks/task_detail/{idTask}/approva' ( idSupergruppo=${idSupergruppo} , idTask=${task.id}) }"
                    > Accetta </a>
                </td>
                <td>
                    <a class="ui primary button"
                       th:href="@{'/gruppi/{idSupergruppo}/tasks/task_detail/{idTask}/modifica' ( idSupergruppo=${idSupergruppo} , idTask=${task.id}) }"
                    > Modifica</a>
                </td>
                <td colspan="1">
                    <a class="ui red button"
                       th:if="${( ( task.stato.equals('respinto') )==false )}"
                       th:href="@{'/gruppi/{idSupergruppo}/tasks/task_detail/{idTask}/rifiuta' ( idSupergruppo=${idSupergruppo} , idTask=${task.id}) }"
                    > Respingi</a>
                </td>
            </tr>
            <tr th:if="${(isResponsabile==false) and ( ( task.stato.equals('approvato') )==false ) and ( ( task.stato.equals('in valutazione') )==false )}"
                class="center aligned">
                <td colspan="3">
                    <a class="ui primary button"
                       th:href="@{'/gruppi/{idSupergruppo}/tasks/task_detail/{idTask}/completa' ( idSupergruppo=${idSupergruppo} , idTask=${task.id}) }"
                    > Completa</a>
                </td>

            </tr>

        </th:block>
        </tbody>
    </table>
</div>
<div class="ui message success text container" th:if="${flagAzione==1}">
    <i class="close icon"></i>
    <p>Hai Approvato il Task </p>
</div>
<div class="ui message warning text container" th:if="${flagAzione==2}">
    <i class="close icon"></i>
    <p>Hai Respinto il Task </p>
</div>
<div class="ui message blue text container" th:if="${flagAzione==3}">
    <i class="close icon"></i>
    <p>Hai modificato il Task </p>
</div>
<div class="ui message green text container" th:if="${flagAzione==4}">
    <i class="close icon"></i>
    <p>Hai completato il Task </p>
</div>
<div class="ui message green text container" th:if="${flagCreazione==true}">
    <i class="close icon"></i>
    <p>Hai creato correttamente il Task </p>
</div>
<script>$('.message .close')
    .on('click', function () {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;</script>
</body>
</html>