<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<head>

    <head th:include="/fragments/fragments.html :: head">
        <title id="pageTitle">Amigo|I miei gruppi</title>
    </head>
</head>
<body>
<div th:insert="fragments/fragments.html :: header"></div>
<h1 class="ui header" align="center">I task del gruppo : </h1>
<div class="center aligned">
    <form  th:action="@{'/gruppo/visualizzaListaTaskSupergruppo/{idSupergruppo}/creazioneTaskSupergruppo'( idSupergruppo=${idSupergruppo})}" method="post">

        <!--    <form:form th:action="" method="post">-->
        <input type="text" path="testo" placeholder="descrizione">
        <input type="submit">
    </form>
</div>


<!--da allineare al centro -->
<form
        class="ui form"
        method="post"
        th:action="@{'/gruppo/visualizzaListaTaskSupergruppo/{idSupergruppo}/creazioneTaskSupergruppo'( idSupergruppo=${idSupergruppo})}"
        th:object="${taskForm}"
>

    <div class="field">
        <label>Nome task</label>
        <!--        <input type="text" name="first-name" placeholder="First Name" path="nome">-->
        <input type="text" placeholder="First Name" path="nome" th:field="*{nome}" th:value="${taskDaModificare.nome}">
    </div>
    <div class="field">
        <label>Data scadenza</label>
        <input type="date" name="last-name" placeholder="" path="dataScadenza" th:field="*{dataScadenza}" th:value="1/1/2019">
    </div>
    <div class="field">
        <div class="field">
            <label>Descrizione</label>
            <textarea placeholder="descrizione task" path="descrizione" th:field="*{descrizione}"></textarea>
        </div>
    </div>

    <h3>Input</h3>
    <div class="ui calendar" id="example1">
        <div class="ui input left icon">
            <i class="calendar icon"></i>
            <input type="text" placeholder="Date/Time">
        </div>
    </div>
    <!--    <script>-->
    <!--        $('#example1').calendar();-->
    <!--    </script>-->








    <table class="ui celled table">
        <thead>
        <tr class="center aligned">
            <th></th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="persona : ${persone}">
            <tr class="center aligned">
                <td>

                    <!--                   <form:radiobuttons path="p" th:value="persona.nome" items="${persone}">-->
                    <!--                       <form:radiobutton path="pp" th:value="persona.nome"></form:radiobutton>-->
                    <!--                   </form:radiobuttons>-->
                    <!--                   <form:radiobutton path="pp" th:value="persona.nome"></form:radiobutton>-->
                    <input type="radio" th:name="idPersona" path="idPersona" th:value="${persona.id}">
                </td>
                <td th:text="${persona.nome}"></td>
                <td th:text="${persona.cognome}"></td>
                <td th:text="${persona.user.getEmail()}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>




    <button class="ui button" type="submit">Submit</button>
</form>





</body>
</html>