<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<head>

    <head th:include="/fragments/fragments.html :: head">
        <title id="pageTitle">Amigo|Definizione Task</title>
    </head>
</head>
<body>
<div th:insert="fragments/fragments.html :: header"></div>
<div class="ui message negative text container" th:if="${flagCreazione==false}">
    <i class="close icon"></i>
    <p>Non hai creato correttamente il Task </p>
</div>
<h1 class="ui header" align="center">I task del gruppo : </h1>
<form
        class="ui form text container"
        method="post"
        th:action="@{'/gruppi/{idSupergruppo}/tasks/creazioneTask'( idSupergruppo=${idSupergruppo})}"
        th:object="${taskForm}"
>

    <div class="field">
        <label>Nome task</label>
        <input type="text" placeholder="Nome" path="nome" th:field="*{nome}">
    </div>
    <div class="field">
        <label>Data scadenza</label>
        <input type="date" name="Date" placeholder="" path="dataScadenza" th:field="*{dataScadenza}">
    </div>
    <div class="field">
        <div class="field">
            <label>Descrizione</label>
            <textarea placeholder="descrizione task" path="descrizione" th:field="*{descrizione}"></textarea>
        </div>
    </div>

    <h3>Seleziona Delegato Task</h3>
    <table class="ui celled table">
        <thead>
        <tr class="center aligned">
            <th>Scelta</th>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="persona : ${persone}">
           <tr class="center aligned">
               <td>
                   <input type="radio" th:name="idPersona" path="idPersona" th:value="${persona.id}">
               </td>
                <td th:text="${persona.nome}"></td>
                <td th:text="${persona.cognome}"></td>
                <td th:text="${persona.user.getEmail()}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <button class="ui primary button" type="submit">Crea Task</button>
</form>

</table>
<script>$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;</script>

</div>
</body>
</html>