<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/html">
<head>

    <head th:include="/fragments/fragments.html :: head">
        <title id="pageTitle">Amigo|Dettagli Task</title>
    </head>
</head>
<body>
<div th:insert="fragments/fragments.html :: header"></div>

<h1 class="ui header" align="center"> Dettagli task : </h1>
<div class="ui main text container">
    <table class="ui celled table striped">
        <thead>
        <tr class="center aligned">
            <th>Nome task</th>
            <th>Data scadenza</th>
            <th>Stato</th>
        </tr>
        </thead>
        <tbody>
        <th:block>
            <tr class="center aligned">
                <td th:text="${task.nome}"></td>
                <td th:text="${task.dataScadenza}"></td>
                <td th:text="${task.stato}"></td>
            </tr>

            <tr class="center aligned">
                <th colspan="4" th:text="'Assegnatario'+' '+'task'"></th>
            </tr>

            <tr class="center aligned">
                <td colspan="4" th:text="${task.persona.getNome()} +' '+ ${task.persona.getCognome()}"></td>
            </tr>
            <tr class="center aligned">
                <th colspan="4" th:text="Descrizione"></th>
            </tr>
            <tr class="center aligned">
                <td colspan="4" th:text="${task.descrizione}"></td>
            </tr>


            <tr th:if="${( ( task.stato.equals('approvato') )==false ) and ( ( task.stato.equals('in valutazione') )==false )}" class="center aligned">
                <td colspan="3">
                    <a class="ui primary button"
                       th:href="@{'/taskPersonali/task_detail/{idTask}/completa' (idTask=${task.id}) }"
                    > Completa</a>
                </td>

            </tr>

            <tr th:if="${( ( task.stato.equals('incompleto') )==true ) or ( ( task.stato.equals('respinto') )==true )}" class="center aligned">
                <td colspan="3">



                    <form th:action="@{'/taskPersonali/task_detail/{idTask}/uploadDocumento'(idTask=${task.id})}" method="post" enctype="multipart/form-data" >
                        <label for="file">Filename:</label>
                        <input type="file" name="file" id="file"/>
                        <input type="submit" name="submit" value="Submit" />
                    </form>

                    <div class="ui message success" th:if="${flagAggiunta==1}">
                        <i class="close icon"></i>
                        <p>Documento <span th:text="${documentoNome}"></span> caricato con successo!</span></p>
                    </div>

                </td>

            </tr>
            <tr>
                <td colspan="3" th:if="${documento}!=null" th:text="${documento.getNome()}">
                </td>
<!--                <td colspan="3" th:if="${task.getDocumento()}!=null" th:text="${documento.getNome()}"></td>-->
                </td>

            </tr>

        </th:block>
        </tbody>
    </table>
</div>
<div class="ui message green text container" th:if="${flagAzione==4}">
    <i class="close icon"></i>
    <p>Hai completato il Task </p>
</div>
<script>$('.message .close')
    .on('click', function() {
        $(this)
            .closest('.message')
            .transition('fade')
        ;
    })
;</script>
</body>
</html>