<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/fragments.html :: head">
    <title id="pageTitle">Amigo|Aggiunta membro</title>
</head>

<body>
<div th:insert="fragments/fragments.html :: header"></div>

<h1 align="center" class="ui header">Aggiungi membro al <span th:text="${supergruppo.name}"></span></h1>

<div class="ui main text container">
    <table th:if="${persone.size()>0}" class="ui teal table ">
        <thead>
        <tr class="center aligned"> 
            <th>Cognome</th>
            <th>Nome</th>
            <th>Email</th> 
            <th></th>

        </tr>
        </thead>
        <tbody>
        <th:block th:each="persona : ${persone}">
            <tr class="center aligned">
                <td th:text="${persona.cognome}"></td>
                <td th:text="${persona.nome}"></td>
                <td th:text="${persona.user.getEmail()}"></td>
                <td>
                    <a class="ui teal button"
                       th:href="@{'/gruppi/{idSupergruppo}/add/{idPersona}'( idPersona=${persona.id},idSupergruppo=${supergruppo.id})}">
                        <i class="icon user"></i>
                        Aggiungi
                    </a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <div class="ui message success" th:if="${flagAggiunta==1}">
        <i class="close icon"></i>
        <p>Hai aggiunto corettamente <span th:text="${personaAggiunta.nome}"></span> <span
                th:text="${personaAggiunta.cognome}"></span></p>
    </div>

    <div class="ui message success" th:if="${persone.size()}==0">
        <i class="close icon"></i>
        <p>Non ci sono altri membri da aggiungere!</p>
    </div>

</div>
<script type="text/javascript" th:src="@{/index.js}"></script>

</body>
</html>