<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="/fragments/fragments.html :: head">
    <title id="pageTitle">Amigo|Commissioni</title>
</head>
<body>
<div th:insert="fragments/fragments.html :: header"></div>
<h1 class="ui header"  align="center">Nomina un responsabile </h1>

<div class="ui main text container">
    <table class="ui celled table">
        <thead>
        <tr class="center aligned">
            <th>Cognome</th>
            <th>Nome</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="persona : ${persone}">
            <tr class="center aligned">
                <td th:text="${persona.cognome}"></td>
                <td th:text="${persona.nome}"></td>
                <td th:text="${persona.user.getEmail()}"></td>
                <td>
                    <a th:href="@{'/gruppi/commissioni/{idCommissione}/nominaResponsabile/{idPersona}'(idCommissione=${idCommissione},idPersona=${persona.id})}" class="ui primary button">
                    Nomina
                    </a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>