<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/webjars/Semantic-UI/semantic.css}">
    <meta charset="UTF-8">
    <title>Amigo</title>
</head>
<body>
<div class="ui secondary menu">
    <a  class="item" href="/dashboard">Home</a>
    <a class="item" th:href="@{visualizzaGruppi=} + ${personaLoggata}">I miei gruppi</a>


    <div class="right menu">
        <a class="item">Logout</a>
    </div>
</div>
    <div class="ui main text container">
        <h2 class="ui main text">I miei gruppi</h2>
        <table class="ui celled table striped">
            <thead>
            <tr class="center aligned">
                <th>Nome</th>
                <th>Tipo</th>
                <th>Stato</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="supergruppo : ${supergruppi}">
                <tr class="center aligned">
                    <td th:text="${supergruppo.name}"></td>
                    <td th:text="${supergruppo.type}"></td>
                    <td>
                        <span th:if="${supergruppo.state==true}"> Attivo</span>
                        <span th:if="${supergruppo.state==false}"> Chiuso</span>
                    </td>
                    <td>
                        <a th:href="@{/gruppo/visualizzaMembriSupergruppo=} + ${supergruppo.id}" class="ui primary button">
                            Visualizza Dettagli
                        </a>
                    </td>
                </tr>
            </th:block>
            </tbody>
        </table>

    </div>
</body>
</html>