<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Sites</title>
    <link rel="stylesheet" th:href="@{/webjars/Semantic-UI/semantic.css}">
</head>
<body>
<div class="ui inverted menu">
    <div class="ui container">
        <a href="#" class="header item">
            C9 Tutorial
        </a>
        <a href="/" class="item">Home</a>
        <a href="/sites" class="item">All Sites</a>
    </div>
</div>

<div class="ui main text container">
    <h1 class="ui main text">Rimozione Membro Supergruppo</h1>

    <table class="ui celled table striped">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Email</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="persona : ${persone}">
            <tr>
                <td th:text="${persona.nome}"></td>

                <td th:text="${persona.cognome}"></td>
                <td th:text="${persona.user.getEmail()}"></td>
                <td th:text="${idSupergruppo}"></td>

                <td>
                    <a th:href="@{'/gruppo/rimuovi/id={id1}&supergruppo={id2}'( id1=${persona.id},id2=${idSupergruppo})}" class="ui primary button">
                        Rimuovi
                    </a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

</div>
</body>
</html>