<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <head th:include="/fragments/fragments.html :: head">
        <title id="pageTitle">Amigo| Upload repository</title>
    </head>
</head>
<body>
    <div th:insert="fragments/fragments.html :: header"></div>

    <h1 align="center" class="ui header">Carica documento</h1>
    <div class="ui main text container">
        <div class="ui middle aligned center aligned grid container">
            <form th:action="@{/repository/uploadDocumento}" method="post" enctype="multipart/form-data" >

            <label class="ui icon button" for="file-upload">
                <i class="file icon"></i>
                Carica file</label>
                <input id="file-upload" name="file" required style="display:none" type="file">
                <input class="ui positive button" name="submit" type="submit" value="Invia"/>

            </form>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/destinatari.js}"></script>
</body>
</html>