<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <head th:include="/fragments/fragments.html :: head">
        <title id="pageTitle">Amigo|I miei gruppi</title>
    </head>
</head>
<body>
<div th:insert="fragments/fragments.html :: header"></div>
<h1 class="ui header" align="center">Repository d'Ateneo</h1>
    <div class="ui main text container">

        <table class="ui celled table striped">
            <thead>
            <tr class="center aligned">
                <th>
                    <form action="/repository">
                        <div >
                            <input type="text" name="name" placeholder="Inserisci nome documento da ricercare">
                            <input type="submit" value="Ricerca" >
                        </div>
                    </form>
                </th>
            </tr>
            </thead>
            <tbody>
                <tr class="center aligned">
                    <td th:if="${#lists.isEmpty(documenti)}">
                        <span>Non sono presenti documenti in repository.</span>
                    </td>
                </tr>
                <th:block th:each="documento : ${documenti}">
                    <tr class="center aligned">
                        <td>
                            <a target=”_blank” th:href="@{'/repository/{idDocumento}' ( idDocumento=${documento.id})}">
                                <span th:text="${documento.nome}"></span>
                            </a>
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>

        <a th:if="${flagPQA==1}" class="ui primary button"
           href="/repository/uploadDocumento">
            Aggiungi
        </a>
    </div>
</body>
</html>