<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <head th:include="fragments/fragments.html :: head">
        <title id="pageTitle">Amigo| Repository</title>
    </head>
</head>
<body>
<div th:insert="fragments/fragments.html :: header"></div>
<h1 class="ui header" align="center">Repository d'Ateneo</h1>
<div class="ui main text container">

    <div class="row">

        <form action="/repository">
            <a th:if="${flagPQA==1}" class="ui teal right labeled icon button"
               href="/repository/uploadDocumento">
                Aggiungi <i class="plus icon"></i>
            </a>
            <div class="ui action input" style="float: right; margin-bottom:5px;">
                <input type="text" placeholder="Search..." name="name">
                <button class="ui teal icon button">
                    <i class="search icon"></i>
                </button>
            </div>
        </form>
    </div>
        <table class="ui celled table striped">
            <tbody>
            <tr class="center aligned">
                <td th:if="${#lists.isEmpty(documenti)}">
                    <span>Non sono presenti documenti in repository.</span>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="ui relaxed divided list">
            <div class="item" th:each="documento : ${documenti}">
                <i class="large file alternate middle aligned icon"></i>
                <div class="content">
                    <a target=”_blank” th:href="@{'/repository/{idDocumento}' ( idDocumento=${documento.id})}">
                        <span th:text="${documento.nome}"></span>
                    </a>
                    <div class="description"><span th:text="${documento.dataInvio}"></span></div>
                </div>
            </div>
        </div>

        <div class="ui message green" th:if="${addFlag==true}">
            <i class="close icon"></i>
            <p>Documento <span th:text="${documentoNome}"></span> caricato con successo!</span></p>
        </div>

        <div class="ui error message" th:if="${addFlag==false}">
            <i class="close icon"></i>
            <p>Documento non caricato!</span></p>
        </div>
    </div>


    <script type="text/javascript" th:src="@{/index.js}"></script>
</body>
</html>