<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Amigo</title>
    <link href="index.css" rel = "stylesheet">
</head>
<body>
    <div id="div_welcome">
        <div id="div_centeralign">
            <h1>Benvenuto su amigo!</h1>
        </div>
    </div>
    <div id = "div_body">
        <div id = "div_left_logo"></div>
        <div id="div_logo">
            <img id = "img_logo" src="img/logo_amigo_trasparente.png" alt = "logoAmigo">
        </div>
        <div id="div_right_logo"></div>
    </div>
<div class = "ui button" id = "div_button">
    <a href="/dashboard">Accedi</a>
</div>
</body>
<footer>
</footer>
<script type= "text/javascript" src="index.js"></script>
</html>