<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Amigo</title>
    <link href="index.css" rel = "stylesheet">
</head>
<body>
    <div class="ui one column stackable center aligned page grid">
        <div id="div_centeralign" class="column twelve wide">
            <h1>Benvenuto su amigo!</h1>
        </div>
    </div>

    <div class="ui placeholder segment">
        <img class="ui centered medium image" src="img/logo_amigo_trasparente.png" alt = "logoAmigo">
    </div>


    <div class = "ui button" id = "div_button">
        <a href="/dashboard">Accedi</a>
    </div>
</body>
<script type= "text/javascript" src="index.js"></script>
</html>