<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amigo</title>
    <link href="index.css" rel="stylesheet">
</head>
<body>
<div class="ui one column stackable center aligned page grid">
    <div class="column twelve wide" id="div_centeralign">
        <h1>Benvenuto su amigo!</h1>
    </div>
</div>

<div class="ui placeholder segment">
    <img alt="logoAmigo" class="ui centered medium image" src="img/logo_amigo_trasparente.png">
</div>


<div class="ui button" id="div_button">
    <a href="/dashboard">Accedi</a>
</div>
</body>

</html>