<html xmlns:th="https://www.thymeleaf.org">
<head>
    <head th:include="fragments/fragments.html :: head">
        <title id="pageTitle">Amigo|Login</title>
    </head>


<body>
<div class="ui middle aligned center aligned grid text container">
    <div class="column">
        <h2 class="ui image teal header">
            <img src="img/logo_amigo_trasparente.png" class="image" alt="amigo.png" style="height: 100px; width: 100px;">
            <div class="content">
                Log-in
            </div>
        </h2>
        <form name="f" th:action="@{/login}"
              method="post" class="ui large form">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" id="username" name="username" placeholder="E-mail address">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" id="password" name="password" placeholder="password">
                    </div>
                </div>
                <button class="ui fluid large teal button" type="submit">Login</button>
            </div>

        </form>
        <div th:if="${param.error}" class="ui error message">
            Invalid username and password
        </div>
        <div th:if="${param.logout}" class="ui error message">
            You have been logged out.
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/login.js}"></script>
</body>
</html>
