<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <head th:include="/fragments/fragments.html :: head">
        <title id="pageTitle">Amigo|Invio Consegna</title>
    </head>
</head>
<body>
<div th:insert="fragments/fragments.html :: header"></div>

<h1 class="ui header" align="center">Carica documento</h1>

Destinatario: <div th:if="${destinatari.size()==1}"> <span th:text="${destinatari.get(0).getCognome()}"/>

<form th:action="@{'/consegna/{idDestinatario}'(idDestinatario=${destinatari.get(0).getId()})}" method="post" enctype="multipart/form-data" >
    <label for="file">Filename:</label>
    <input type="file" name="file" id="file"/>
    <input type="submit" name="submit" value="Submit" />
</form>

<div class="ui message success" th:if="${flagInviato==1}">
    <i class="close icon"></i>
    <p>Documento <span th:text="${documentoNome}">inviato con successo!</span> </p>
</div>

</div>

</body>
</html>