<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <head th:include="/fragments/fragments.html :: head">
        <title id="pageTitle">Amigo | Destinatari</title>
    </head>
</head>
<body>
<div th:insert="fragments/fragments.html :: header"></div>

<div th:if="${possibiliDestinatari.size()==0}">
    <h1>Ci dispiace :( attualmente non hai i permessi per inviare documenti!</h1>
</div>

<div th:if="${possibiliDestinatari.size()>1}">
    <h1>Invia documento a:</h1>
    <th:block th:each="ruolo : ${possibiliDestinatari}">
        <a class="ui button" th:classappend="${#strings.equals(ruolo, ruoloDest)}? 'active'"
           th:href="@{/consegna/} + ${ruolo}">
            <span th:switch="${ruolo}">
                <p th:case="CAPOGRUPPO">Responsabile GAQ</p>
                <p th:case="CPDS">Responsabile CPDS</p>
                <p th:case="*" th:text="${ruolo}"></p>
            </span>
        </a>
    </th:block>
</div>

<th:block th:if="${destinatari.size()>0}">
    <form enctype="multipart/form-data" method="post" th:action="@{/consegna}">
        <div th:if="${destinatari.size()==1}">
            <h2 th:text="${'Destinatario: ' + destinatari.get(0).getCognome()}"></h2>
            <input name="destinatariPost" th:if="${flagRuolo}" th:value="${destinatari.get(0).getCognome()}"
                   type="hidden"/>
            <input name="destinatariPost" th:if="${!flagRuolo}" th:value="${destinatari.get(0).getId()}" type="hidden"/>
        </div>

        <div th:if="${destinatari.size()>1}">
            <h2>Seleziona i destinatari:</h2>
            <div>
                <select class="ui fluid dropdown" multiple name="destinatariPost" required>
                    <option th:each="persona : ${destinatari}" th:text="${persona.cognome}"
                            th:value="${persona.id}"></option>
                </select>
            </div>
        </div>

        <span>
            <label class="ui icon button" for="file-upload">
                <i class="file icon"></i>
                Carica file</label>
            <input id="file-upload" name="file" required style="display:none" type="file">
        </span>

        <input class="ui positive button" name="submit" type="submit" value="Invia"/>
    </form>
</th:block>

<script type="text/javascript">
    $('.ui.fluid.dropdown')
      .dropdown({placeholder:'Destinatari'});

    $('#file-upload').change(function() {
        var i = $(this).prev('label').clone();
        var file = $('#file-upload')[0].files[0].name;
        $(this).prev('label').text(file);
    });


</script>

</body>
</html>