<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <head th:include="/fragments/fragments.html :: head">
        <title id="pageTitle">Amigo|Documenti ricevuti</title>
    </head>
</head>
<body>
<div th:insert="fragments/fragments.html :: header"></div>
<h1 align="center" class="ui header">Documenti ricevuti</h1>
<div class="ui main text container">

    <form action="/consegna/ricevuti" method="get">
<!--        <div class="ui search">-->
<!--            <div class="ui icon input">-->
<!--                <input class="prompt" name="name" placeholder="Nome del documento" type="text">-->
<!--                <input type="submit" value="Cerca"> <i class="search icon"></i> </input>-->
<!--            </div>-->
<!--        </div>-->
        <div class="row">
            <div class="ui action input" style="float: right; margin-bottom:5px;">
                <input type="text" placeholder="Nome del documento" name="name">
                <button class="ui teal icon button">
                    <i class="search icon"></i>
                </button>
            </div>
        </div>
    </form>

    <table class="ui  table striped">
        <thead>
        <tr class="center aligned">
            <th>Nome documento</th>
            <th>Mittente</th>
            <th>Ruoli mittente</th>
            <th>Data invio</th>
            <th>Valutazione</th>
        </tr>
        </thead>
        <tbody>
        <tr class="center aligned">
            <td th:if="${#lists.isEmpty(consegne)}">
                <span>Non sono presenti documenti ricevuti.</span>
            </td>
        </tr>
        <th:block th:each="consegna : ${consegne}">
            <tr class="center aligned">
                <td>
                    <i class="file outline icon"></i>
                    <a target=”_blank”
                       th:href="@{'/consegna/miei-documenti/{idDocumento}' (idDocumento=${consegna.getDocumento().getId()})}">
                        <span th:text="${consegna.documento.nome}"></span>
                    </a>
                </td>
                <td>
                    <span th:text="${consegna.mittente.cognome}"></span>
                    <span th:text="${consegna.mittente.nome}"></span>
                </td>
                <td>
                    <th:block th:each="ruolo : ${consegna.mittente.user.roles}">
                        <th:block th:if="${ruolo.name} != 'CAPOGRUPPO' AND ${ruolo.name} != 'USER'"
                                  th:text="${ruolo.name}">
                        </th:block>
                    </th:block>
                    <th:block th:each="gruppo : ${consegna.mittente.supergruppi}">
                        <th:block th:if="${gruppo.type} == 'Gruppo'">
                            <th:block th:if="${consegna.mittente.id==gruppo.responsabile.id}">
                                Responsabile di: <span th:text="${gruppo.name}"></span>
                            </th:block>
                            <th:block th:if="${consegna.mittente.id!=gruppo.responsabile.id}">
                                Membro di: <span th:text="${gruppo.name}"></span>
                            </th:block>
                        </th:block>
                    </th:block>
                </td>
                <td>
                    <span th:text="${consegna.dataConsegna}"></span>
                </td>
                <td>
                    <th:block th:if="${consegna.stato} == 'DA_VALUTARE'">
                        <div class="ui buttons">
                            <a class="ui positive button" th:href="@{/consegna/approva/} + ${consegna.id}">Approva</a>
                            <div class="or"></div>
                            <a class="ui negative button" th:href="@{/consegna/rifiuta/} + ${consegna.id}">Rifiuta</a>
                        </div>
                    </th:block>
                    <span th:if="${consegna.stato} == 'APPROVATA'" th:text="Approvato"></span>
                    <span th:if="${consegna.stato} == 'RIFIUTATA'" th:text="Rifiutata"></span>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

</div>
</body>
</html>