<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <head th:include="/fragments/fragments.html :: head">
        <title id="pageTitle">Amigo|Documenti ricevuti</title>
    </head>
</head>
<body>
<div th:insert="fragments/fragments.html :: header"></div>
<h1 class="ui header" align="center">Documenti ricevuti</h1>
<div class="ui main text container">

    <form action="/consegna/inviati" method="get">
        <div class="center aligned">
            <input type="text" name="name" placeholder="Inserisci il nome del documento da ricercare">
            <input type="submit" value="Ricerca">
        </div>
    </form>

    <table class="ui celled table striped">
        <thead>
        <tr class="center aligned">
            <th>Nome documento</th>
            <th>Mittente</th>
            <th>Data invio</th>
        </tr>
        </thead>
        <tbody>
        <tr class="center aligned">
            <td th:if="${#lists.isEmpty(consegne)}">
                <span>Non sono presenti documenti ricevuti.</span>
            </td>
        </tr>
        <th:block th:each="consegna : ${consegne}">
            <tr class="center aligned">
                <td>
                    <a target=”_blank” th:href="@{'/consegna/miei-documenti/{idDocumento}' (idDocumento=${consegna.getDocumento().getId()})}">
                        <span th:text="${consegna.documento.nome}"></span>
                    </a>
                </td>
                <td>
                    <span th:text="${consegna.mittente.cognome}"></span>
                    <span th:text="${consegna.mittente.nome}"></span>
                </td>
                <td>
                    <span th:text="${consegna.dataConsegna}"></span>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

</div>
</body>
</html>