<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <head th:include="/fragments/fragments.html :: head">
        <title id="pageTitle">Amigo | Invio Consegna</title>
    </head>
</head>
<body>
<div th:insert="fragments/fragments.html :: header"></div>

<h1 align="center" class="ui header">Invia documento</h1>

<form enctype="multipart/form-data" method="post" th:action="@{/consegna}">

    <div th:if="${destinatari.size()==1}">
        Destinatario:
        <span th:text="${destinatari.get(0).getCognome()}"></span>
        <input name="destinatariPost" th:value="${destinatari.get(0).getId()}" type="hidden"/>
    </div>

    <div th:if="${destinatari.size()>1}">
        Seleziona il destinatario:
        <div>
            <select multiple name="destinatariPost" required>
                <option th:each="persona : ${destinatari}" th:text="${persona.cognome}"
                        th:value="${persona.id}"></option>
            </select>
        </div>
    </div>

    <label>Filename:</label>
    <input name="file" type="file"/>
    <input name="submit" type="submit" value="Submit"/>
</form>

<div class="ui message success" th:if="${flagInviato==1}">
    <i class="close icon"></i>
    <p>Documento <span th:text="${documentoNome}">inviato con successo!</span></p>
</div>

</body>
</html>